# Compiled class file
*.class

# Log file
*.log

# Idea files and folders #
.idea/
*iml
target/

# Output files #

scaffoldTestOutput/
Figure/

# Large input files #
*.sdf

# PerformanceTest files #
/Results.txt
/Exceptions_Log.txt
