# Compiled class file
*.class

# Log file
*.log

# Idea files and folders #
.idea/
*iml
target/

# Output files #

scaffoldTestOutput/
Figure/

# Large input files #
*.sdf

# de.unijena.cheminf.scaffolds.performanceTest.PerformanceTest files #
/Results.txt
/Exceptions_Log.txt
/CSV_Origin_Forest.csv
/CSV_Origin_Network.csv
/CSV_Time_Stamp.csv

# grid figures sources
ScaffoldGenerator/src/test/resources/de/unijena/cheminf/scaffolds/CSV_Origin_Forest_COCONUT.csv
ScaffoldGenerator/src/test/resources/de/unijena/cheminf/scaffolds/CSV_Origin_Network_COCONUT.csv
ScaffoldGenerator/src/test/resources/de/unijena/cheminf/scaffolds/CSV_Origin_Forest_DrugBank.csv
ScaffoldGenerator/src/test/resources/de/unijena/cheminf/scaffolds/CSV_Origin_Network_DrugBank.csv